<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216757909385-lmigqg7mj8e6822iilmokvan9sqiqqec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216757909385-lmigqg7mj8e6822iilmokvan9sqiqqec</string>
	<key>API_KEY</key>
	<string>AIzaSyBLSakLSOXsATTrlsEpiUbJd6QWy1Ya63Q</string>
	<key>GCM_SENDER_ID</key>
	<string>216757909385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-sample-1b567</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-sample-1b567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216757909385:ios:6b8438906521d8a29c9358</string>
</dict>
</plist>